{# {% for navItems in mainNav if navItems.children|length %}
  {% for item in navItems.children %}
    {% if item.slug == slug %}
      {% if loop.first %}
        {% set previous_item = navItems.children[loop.length - 1] %}
      {% else %}
        {% set previous_item = navItems.children[loop.index0 - 1] %}
      {% endif %}

      {% if loop.last %}
        {% set next_item = navItems.children[0] %}
      {% else %}
        {% set next_item = navItems.children[loop.index0 + 1] %}
      {% endif %}

      {% set prev %}
        <li>
          <a class="arrow-l" href="{{ previous_item.url }}">
            <span class="hide">Previous</span>
          </a>
        </li>
      {% endset %}

      {% set next %}
        <li>
          <a class="arrow-r" href="{{ next_item.url }}">
            <span class="hide">Next</span>
          </a>
        </li>
      {% endset %}
    {% endif %}
  {% endfor %}
{% endfor %} #}

<div data-bk-links="white fade dim" class="oh bg-primary--light stick-t align-c shadow">
  <div class="site-container">
    <ul data-bk-layout="pad:0 auto" class="quicknav nav nav--block font-s">
      {# {{ prev }} #}

      {% for item in mainNav if item.children|length %}
        {% for child in item.children %}
          <li>
            <a{{ child.slug == slug ? ' class="btn btn--primary br-0" ' }}  href="{{ child.url }}">
              {{ child.title }}
            </a>
          </li>
        {% endfor %}
      {% endfor %}

      {# {{ next }} #}
    </ul>
  </div>
</div>