<footer id="site-footer" data-bk-links="secondary underline-hover" class="site-container pad">

  <div data-bk-layout="md:3">
    <h1 class="site-logo logo inline-block">
      <span class="site-logo__img logo__img">
        {{ siteName }}
      </span>
    </h1>
  </div>

  <div data-bk-layout="p:0 md:9">
    {% if address|length or siteEmail or siteTel %}
      <div data-bk-layout="sm:4">
        {% if address.org %}<span class="block">{{ address.org }}</span>{% endif %}
        {% if address.street %}<span class="block">{{ address.street }}</span>{% endif %}
        {% if address.townCity %}<span class="block">{{ address.townCity }}</span>{% endif %}
        {% if address.postalCode %}<span class="block">{{ address.postalCode }}</span>{% endif %}

        {% if siteEmail or siteTel %}
          <ul{{ address|length ? ' class="pad-sm-t"' }}>
            <li><a href="mailto:{{ siteEmail }}">{{ siteEmail }}</a></li>
            <li>{{ siteTel }}</li>
          </ul>
        {% endif %}
      </div>
    {% endif %}

    {% if footerNav|length %}
      <ul data-bk-layout="6 sm:4">
        {% for item in footerNav %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if socialLinks|length %}
      <ul data-bk-layout="6 sm:4">
        {% for item in socialLinks %}
          <li>
            <a class="arrow-exit" href="{{ item.url }}" target="_blank" rel="noopener">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if siteInfoNav|length %}
      <ul class="font-xs pad-sm-t">
        {% for item in siteInfoNav %}
          <li data-bk-layout="auto">
            <a href="{{ siteUrl }}{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
          <li data-bk-layout="auto" class="float-r">
            <a class="arrow-up" href="#start">
              <span class="hide">Back to start</span>
            </a>
          </li>
      </ul>
    {% endif %}
  </div>

</footer>