<!doctype html>
<html lang="en-gb" class="no-js">
  <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script>document.documentElement.className=document.documentElement.className.replace("no-js","js")</script>
    <!--[if lt IE 9]><script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script><![endif]-->

    <!-- Prefetch DNS for external assets -->
    <link href="//fast.fonts.net" rel="dns-prefetch">
    <link href="//cloud.typography.com" rel="dns-prefetch">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    <link href="//connect.facebook.net" rel="dns-prefetch">

    <!-- Prerender or Preload
    - Preemptively load all of the assets of a certain document
    - Preload a specific asset
    - More info: https://css-tricks.com/prefetching-preloading-prebrowsing/
    <link rel="prerender" href="https://example.com/">
    <link rel="preload" href="image.png">
    -->

    <title>{{ siteName }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/basekit.css">
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/4e26e3b9-f65e-4698-bb6e-f8019e19cd38.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700">

    <!--
      ICONS:
      - Go to: http://realfavicongenerator.net
      - Generate icons and put the code here (see below example).
      - Put images in the imgs/web-icons/ directory.
    -->

    <!--
      Facebook / Twitter Cards
    - Update the following meta tags and replace the image
    <meta property="og:title" content="Basis">
    <meta property="og:description" content="Basis is a full featured starter kit from FortyTwo Studio">
    <meta property="og:image" content="http://og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="http://">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    -->

    <!--
      Google+ / Schema.org
    <link href="https://plus.google.com/+YourPage" rel="publisher">
    <meta itemprop="name" content="Content Title">
    <meta itemprop="description" content="Content description less than 200 characters">
    <meta itemprop="image" content="https://example.com/image.jpg">
    -->

    <!--
      Google Analytics Code:
    - Add your analytics ID here.
    - Or remove the below code and add what Google gives you.
    -->

  </head>

  <body id="page">

    <div class="{{ pageHeaderColor|length ? pageHeaderColor : "bg-primary--dark" }}{{ pageHeaderImg|length ? " bg-img" }}" {{ pageHeaderImg }}>
      <header id="header" class="site-container  pad">
        <div data-bk="3" class="site-logo--container">
          <h1 class="site-logo  logo">
            <a class="site-logo__img  logo__img" href="{{ siteUrl }}">
              {{ siteName }}
            </a>
          </h1>
        </div>

        {% if mainNav|length %}
          <div data-bk="pad:0  9  right">
            <nav class="site-nav  nav-links  font-upper" aria-label="Site main navigation">
              <ul class="nav  nav--block">
                {% for item in mainNav %}
                  <li>
                    <a href="{{ siteUrl }}{{ item.url }}">{{ item.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
            <button id="js-nav-toggler" class="nav-toggler">Main Navigation</button>
          </div>
        {% endif %}
      </header>

      {% block pageHeader %}
      {% endblock %}
    </div>


    {% block content %}
    {% endblock %}


    <footer class="site-container  pad  pad-l-t  set-links">
      <div data-bk="pad:0  middle">
        <div data-bk="hands:3">
          <h1 class="site-logo  logo  inline-block">
            <span class="site-logo__img  logo__img">
              {{ siteName }}
            </span>
          </h1>
        </div>

        <div data-bk="pad:0  hands:9">
          {% if address|length or siteEmail or siteTel %}
            <div data-bk="palm:4">
              {% if address.org %}<span class="block">{{ address.org }}</span>{% endif %}
              {% if address.street %}<span class="block">{{ address.street }}</span>{% endif %}
              {% if address.townCity %}<span class="block">{{ address.townCity }}</span>{% endif %}
              {% if address.postalCode %}<span class="block">{{ address.postalCode }}</span>{% endif %}

              {% if siteEmail or siteTel %}
                <ul{{ address|length ? ' class="pad-s-t"' }}>
                  <li><a href="mailto:{{ siteEmail }}">{{ siteEmail }}</a></li>
                  <li>{{ siteTel }}</li>
                </ul>
              {% endif %}
            </div>
          {% endif %}

          {% if footerNav|length %}
            <ul data-bk="6  palm:4">
              {% for item in footerNav %}
                <li>
                  <a href="{{ siteUrl }}{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if socialLinks|length %}
            <ul data-bk="6  palm:4">
              {% for item in socialLinks %}
                <li>
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if siteInfoNav|length %}
            <ul class="font-xs  pad-s-t">
              {% if charityNum %}<li data-bk="auto">{{ charityNum }}</li>{% endif %}
              {% if companyNum %}<li data-bk="auto">{{ companyNum }}</li>{% endif %}
              {% for item in siteInfoNav %}
                <li data-bk="auto">
                  <a href="{{ siteUrl }}{{ item.url }}" target="_blank" rel="noopener">{{ item.title }}</a>
                </li data-bk="auto">
              {% endfor %}
            </ul>
          {% endif %}
        </div>

      </div>
    </footer>

    <script src="/js/min/basekit.js"></script>
    <script src="/js/min/scroll.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('js-nav-toggler').addEventListener('click', function (e) {
          if (e.target.nodeName.toLowerCase() === 'a') {
            e.preventDefault();
          }
          document.getElementById('page').classList.toggle('nav-active');
        });
      });
    </script>
  </body>
</html>