{% if mainNav|length %}
  <div data-bk-layout="p:0 9 right" class="nav-toggler-wrapper | no-js-dn">
    <button id="nav-toggler" class="hamburger hamburger--squeeze no-outline" type="button" aria-controls="nav-primary">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

  <div data-bk-layout="auto to:lg:p:0 lg:p:r md:p:sm 9 lg:right" class="is-home nav-primary-layout">
    <nav id="nav-primary" class="nav-primary" aria-labelledby="nav-toggler">
      <h2 class="hide">Site Navigation</h2>

      <ul id="nav-primary-list" class="sm sm-bk">
        {% for item in mainNav %}
          <li class="sm-bk__top-level-item">
            <a class="{{ slug is defined and slug == item.slug ? 'current ' }}{{ item.children|length ? 'has-submenu'}}" href="{{ siteUrl ~ item.url }}">
              {% if item.children|length %}<span class="sub-arrow">+</span>{% endif %}
              {{ item.title }}
            </a>
            {% if item.children|length %}
              <ul class="sm-bk__child-list">
                {% for child in item.children %}
                  <li>
                    <a href="{{ siteUrl ~ item.url ~ child.url }}" class="{{ slug is defined and slug == child.slug ? 'current ' }}{{ item.children|length ? 'has-submenu'}}">
                      {% if item.children|length %}<span class="sub-arrow">+</span>{% endif %}
                      {{ child.title }}
                    </a>
                    {% if item.children|length %}
                      <ul class="sm-bk__child-list">
                        {% for child in item.children %}
                          <li>
                            <a href="{{ siteUrl ~ item.url ~ child.url }}">
                              {{ child.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %}