{% if mainNav|length %}
  <div data-bk-layout="p:0 8 m:10 right" class="nav-toggler-wrapper | no-js-dn">
    <button id="nav-toggler" class="hamburger hamburger--squeeze | no-js-dn" type="button" aria-controls="nav-primary">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

  <div data-bk-layout="auto to:m:p:0 m:p:tb m:p:sm 8 l:7 m:right" class="nav-primary-layout">
    <nav id="nav-primary" class="nav-primary nav-links font-sm font-upper font-light" tabindex="-1" aria-labelledby="nav-toggler">
      {# <h2 class="hide">Website Navigation</h2> #}
      <ul id="nav-primary-list" class="sm sm-bk">
        {% for item in mainNav %}
          <li tabindex="-1">
            <a class="{{ slug is defined and slug == item.slug ? 'active current ' }}{{ item.children|length ? 'has-submenu'}}" href="{{ siteUrl ~ item.url }}"{{ item.external == "true" ? ' target="_blank" rel="noopener" title="Link opens in new tab"' }}>
              {% if item.children|length %}<span class="sub-arrow">+</span>{% endif %}
              {{ item.title }}
            </a>
            {% if item.children|length %}
              <ul>
                {% for child in item.children %}
                  <li>
                    <a href="{{ siteUrl ~ item.url ~ child.url }}">
                      {{ child.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %}