{% spaceless %}
<!doctype html>
<html lang="en-gb" class="no-js">
  <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script>document.documentElement.className=document.documentElement.className.replace("no-js","js")</script>
    <!--[if lt IE 9]><script src="/js/_html5shiv.min.js"></script><![endif]-->

    <link rel="stylesheet" href="/css/basekit-ref.css">
    {% block headCSS %}{% endblock %}

    {% include "includes/_head/_seo.twig" %}
    {% include "includes/_head/_icons.twig" ignore missing %}

  <body id="start">
    <a class="skip-link" href="#content">Skip to content</a>
    <a class="skip-link" href="#main-nav">Skip to navigation</a>

    <div class="position-over {{ pageHeaderColor|length ? pageHeaderColor : "bg-primary" }}{{ pageHeaderImg|length ? " bg-img" }}" {{ pageHeaderImg }}>
      <header id="header" class="site-container">
        <div data-bk-layout="to:m:p:0 m:p:r m:p:sm middle">

          <div data-bk-layout="4 l:5" class="site-logo--container">
            <h1 class="site-logo  logo">
              <a class="site-logo__img  logo__img" href="{{ siteUrl }}">
                {{ siteName }}
              </a>
            </h1>
          </div>

          {% include "includes/_nav-main.twig" %}
        </div>
      </header>
    </div>

    {% block content %}
    {% endblock %}

    {% include "includes/_site-footer.twig" %}

    {# Not the latest version, because compatibility #}
    <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {# Remove if not needed, remember to check you're not loading plugins unused plugins too #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    {# This is compiled by Gulp #}
    <script src="/js/min/basekit.js"></script>

    <script>
      $(function () {
        /// Very simple class toggle for the hamburger icon
        $('#nav-toggler').on('click', function () {
            $('#nav-toggler, #nav-primary').toggleClass('is-active');
        });

        // Smart Menus script yo
        $("#nav-primary-list").smartmenus();

        /// See https://github.com/kamem/jquery.smoothPageScroll
        // Smooth scroll any links with a #
        $('a[href*="#"]').smoothPageScroll();
        // Use this option with the ^ if targetting all links with a # breaks stuff
        // $('a[href^="#"]').smoothPageScroll();
        // Pages will smooth scroll on load if # is present in URL
        // $.smoothPageScrollByLoaded();

        // FONTOGGLER
        var fontogNotice = '<div class="fontoggler__notice inline-block font-s" style="position:fixed;top:0.25rem;right:0.25rem;z-index:900;"><a data-bk-layout="p:small" class="btn btn--primary" href="/demo/reference/typography/#fontoggler">Custom font active</a></div>';
        // When the enter key is pressed…
        $('body').on('keypress', "#fontoggler", function (event) {
            if (event.which == 13) {
                // Set the body style font-family to whatever the value is and prepend the font notice
                $('body').css('font-family', $(this).val()).prepend(fontogNotice);
                // Empty the cookie
                $.cookie("fontoggler", '', {path: '/', expires: 1});
                // Set the cookie to the entered value
                $.cookie("fontoggler", $(this).val(), {path: '/', expires: 1});
                // If the cookie empty remove the notice
                if ($.cookie("fontoggler") == '') {
                    $(".fontoggler__notice").remove();
                }
            }
        });

        if ($.cookie("fontoggler") != undefined && $.cookie("fontoggler") != "") {
            // Based on the cookie set the body font style and prepend the font notice
            $('body').css('font-family', $.cookie("fontoggler")).prepend(fontogNotice);
            // Add the value into the text field
            $('#fontoggler').attr('value', $.cookie("fontoggler"));
        }

        // Keyboard navigation between pages
        $('body').keydown(function (e) {
            // add tags that shouldn't invoke keyboard navigation here.
            var nonNavigableElements = ['input', 'textarea'];
            if (nonNavigableElements.indexOf(e.target.tagName.toLowerCase()) === -1) {
                if (e.keyCode == 37) {
                    $('#previous')[0].click();
                }
                else if (e.keyCode == 39) {
                    $('#next')[0].click();
                }
            }
        });

      });
    </script>

    {% block jsBody %}
    {% endblock %}

  </body>
</html>
{% endspaceless %}