{% set bgColour = '#eee' %}
{% set textColour = '#222' %}
{% set linkColour = '#333' %}
{% set errorBgColour = 'white' %}
{% set errorTextColour = 'black' %}

{% spaceless %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"><meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ title }} Error: {{ subTitle }}</title>

    <style>
      body {
        font: 100%/1.4 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'arial', sans-serif;;
        color: {{ textColour }};
        text-align: center;
        width: 85%;
        padding: 5% 0;
        max-width: 33.75em;
        margin: 0 auto;
        background-color: {{ bgColour }};
      }
      h1 {
        font-size: 300%;
        line-height: 1;
        color: {{ textColour }};
        display: inline-block;
      }
      h1:after {
        content: '—';
        display: block;
        font-size: 75%;
        margin-top: 0.75em;
        text-align: center;
        width: 100%;
      }
      p {
        padding: 0 2%;
        margin: 0 0 1em;
        letter-spacing: 0.05em;
      }
      a {
        color: {{ linkColour }};
        text-decoration: none;
      }
      a:hover b,
      a:focus b {
        text-decoration: underline;
        text-decoration-skip: ink;
      }
      .main-content {
        margin-bottom: 12%;
      }
      .error {
        background-color: {{ errorBgColour }};
        border-radius: 0.33333em;
        color: {{ errorTextColour }};
        font-family: monospace;
        margin-top: 3em;
        padding: 1.5em;
        font-size: 125%;
      }
      .error p {margin: 0;}
    </style><link href="/assets/imgs/web-icons/favicon-32x32.png" rel="shortcut icon"></head>
  <body>
    <div class="main-content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
{% endspaceless %}
