{% extends "_layout.twig" %}

{# It's rare you'd ever want to output the homepage title of so the value here doesn't matter much #}
{% set title = "Welcome to Basekit, yo!" %}
{# Set the slug to empty to simulate an empty segment in Craft #}
{% set slug = "" %}

{% set pageHeaderColor = "bg-primary--dark" %}
{% set pageHeaderImg = ' style="background-image: url(/imgs/placeholders/landscape.jpg)"' %}


{% block content %}

  <div class="bg-tertiary--light  pad">
    <div class="site-container">
      <div data-bk-layout="pad:0  middle">
        <div data-bk-layout="palm:6" data-bk-links="secondary fade underline-hover" class="rte  font-light  font-m">
          <p>Basekit is a custom frontend “framework” built over many years for FortyTwo’s client projects. It's freely available for anyone to use but be aware that we offer no warranty or formal support.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-white  pad">
    <div class="site-container">
      {# DEV NOTE: Should be editable from the CMS home edit page #}
      <h3 data-bk-layout="pad:rl" class="font-xl  font-bold">Getting started</h3>

      <div data-bk-layout="pad:trl  lap:8" data-bk-links="primary underline fade exit" class="rte">
        <p>This Basekit project makes key use of <a href="http://gulpjs.com/" target="_blank" rel="noopener">Gulp</a>, <a href="http://sass-lang.com/" target="_blank" rel="noopener">Sass</a> and <a href="https://twig.sensiolabs.org/" target="_blank" rel="noopener">Twig</a>, we assume you already have NPM and Git setup. We build static frontend templates in Twig so they can be ported later on to Craft CMS, however the core CSS framework does not require Twig for use.</p>

        <p>You’ll also want a local server of some kind, we currently prefer <a href="https://laravel.com/docs/5.4/valet" target="_blank" rel="noopener">Laravel Valet</a> for small static sites and initial frontend templating, like this.</p>

        <p>Once you've downloaded BaseKit, cd in to the directory and run <code>$ npm install</code> to get the required Gulp packages.</p>

        <p>Run <code>$ gulp</code> and it should start watching and compiling the relevant files, at the moment this includes: Sass (to .css), Twig (to .html), HTML (to minified and cleaned .html) and finally Javascript to minified and combined .js. <em>HTML compiling will soon be removed in favour of Twig.</em></p>

        <p>Now that you've comfirmed that Gulp is running, you're ready to start configuring Sass files (and Twig if you're using that).</p>

        <p>But first let's take a look at Basekit's structure.</p>

        <h3 class="font-xl  font-bold">Basekit Structure</h3>

        <dl>
          <dt>bower_components</dt>
          <dd>This is only used to keep the html5shiv snippet up to date… which isn't often.</dd>
          <dt>css</dt>
          <dd>The main part of Basekit which we'll go into detail soon.</dd>
          <dt>demo</dt>
          <dd>Where static templates are compiled as well as this documentation.</dd>
          <dt>docs</dt>
          <dd>SassDoc documentation… <em>this may get removed since it docs Sass but not the CSS bits of Sass</em>.</dd>
          <dt>imgs</dt>
          <dd>Project images, mainly UI related.</dd>
          <dt>js</dt>
          <dd>Project javascript files, numbered files will be compiled and minified into js/min/basekit.js in order.</dd>
          <dt>node_modules</dt>
          <dd>All your node dependencies, make sure this isn't committed to git.</dd>
          <dt>templates</dt>
          <dd>Twig project templates.</dd>
        </dl>
      </div>
    </div>
  </div>

  <div id="target" class="bg-tertiary--light  pad">
    <div class="site-container">
      {# DEV NOTE: This wrapping div exists only to middle align the two containing divs #}
      <div data-bk-layout="pad:0  middle">
        {# DEV NOTE: Don't output figure if no image present. Alt text should be image title field. #}
        <figure data-bk-layout="palm:pad:rl  palm:6" class="font-xl">
          <img src="/imgs/placeholders/landscape.jpg" alt="{{ img.title }}">
        </figure>

        {# DEV NOTE: Plain text field, no line breaks #}
        <div data-bk-layout="palm:pad:rl  palm:6  palm:pad:large" class="font-light  font-xl  color-secondary  align-c">
          <p>Am quid ut velenda voluptas sinciet, sed eictatuia etur sus quis etur?</p>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-primary--dark  pad-l  color-white">
    <div data-bk-links="white dim fade more" class="site-container">
      <h2 class="align-c  font-xl">Our Services</h2>

      {% for item in 1..4 %}
        <article data-bk-layout="6 hands:3" class="pad-t">
          <img src="/imgs/placeholders/landscape.png" alt="{{ img.title }}">

          <h3 class="font-l  pad-s-t  margin-b">Item Title</h3>
          {# DEV NOTE: Output as plain text, no line breaks #}
          <p>Erum que volut mnduciis inus es ipsus, o ictunduciis inus es ipsus, o ictuaxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu repta- tiur sum resequam</p>

          <p class="margin-t  font-upper"><a href="#">Read more</a></p>
        </article>
      {% endfor %}
    </div>
  </div>


  <div class="bg-secondary--dark  pad-l  color-white">
    <div data-bk-links="white dim fade" class="site-container">
      <h2 class="font-hero  font-thin  align-c">Our Work</h2>

      <div data-bk-layout="6  pr:3" class="pad-s-t  align-c  font-light  font-m  rte">
        <p>This is an example of three virtual columns (spanning 4 actual columns of a 12 column grid). The Read more links will be bottom aligned once I've added a flex box class.</p>
      </div>

      {% for item in 1..3 %}
        <article data-bk-layout="6 hands:4" class="pad-t">
          <img src="/imgs/placeholders/landscape.jpg" alt="{{ img.title }}">

          <h3 class="font-l  pad-s-t  margin-b">Example title</h3>
          {# DEV NOTE: Output as plain text, no line breaks #}
          <p>Erum que volut <a href="/">mnduciis inus</a> es ipsus, o ictunduciis inus es ipsus, o ictuaxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu repta- tiur sum resequam</p>

          <p data-bk-links="more" class="pad-s-t  font-upper"><a href="#">Read more</a></p>
        </article>

        <article data-bk-layout="6 hands:4" class="pad-t">
          <img src="/imgs/placeholders/landscape.jpg" alt="{{ img.title }}">

          <h3 class="font-l  pad-s-t  margin-b">Headline dummy</h3>
          {# DEV NOTE: Output as plain text, no line breaks #}
          <p>Ictuaxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu repta- tiur sum resequam Erum que volut mnduciis inus es ipsus, o ictunduciis inus es ipsus Erum que volut mnduciis inus es ipsus, o ictunduciis inus es ipsus</p>

          <p data-bk-links="more" class="pad-s-t  font-upper"><a href="#">Read more</a></p>
        </article>
      {% endfor %}
    </div>
  </div>





  <div class="bg-tertiary--dark  bg-img  color-white  font-l  align-c" style="background-image: url(-/imgs/placeholders/hero.jpg)">

    <div data-bk-layout="pad:large  lap:10">
      <div data-bk-layout="pad:large"data-bk-links="white fade dim underline" class="bg-secondary--trans  pad">
        <h2 class="font-hero  font-thin  pad-s-b">Are you who we’re looking for?</h2>

        <p data-bk-layout="lap:6" class="font-l  font-light  pad-b">
          {# DEV NOTE: put as plain text field, no line breaks #}
          At <a href="/about">Inspire</a> we are always looking for great team memebers so speculative applications are always welcome. Submit your CV today for the chance to inspire.
        </p>

        <p data-bk-links="more"><a class="btn  btn--secondary" href="#">Submit your CV</a></p>
      </div>
    </div>

  </div>





  <div id="why-inspire" class="bg-secondary--dark">
    <h2 class="bg-white  pad-l-t  pad-s-b  font-xl  color-secondary">
      <span class="block  site-container">
        <span data-bk-layout="pad:rl">Why Inspire?</span>
      </span>
    </h2>

    <div class="site-container  pad">
      <div data-bk-layout="lap:6  lap:pl:1" data-bk-links="white fade dim underline-hover up download" class="rte  color-white">

        {# DEV NOTE: Output from Rich Text field with bold-italic-links #}
        <p>erum que volut <a href="#">maxim sinusa seceperio</a>. <strong>Ossi sit aligendit</strong> el <em>imenduciis inus</em> es ipsus, o ictu reptatiur sum resequam erum que volut maxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu reptatiur sum resequam erum que volut maxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu reptatiur sum resequam er</p>

        <p><b>um que volut maxim</b> sinusa seceperio. <i>Ossi sit aligendit</i> el imenduciis inus es ipsus, o ictu reptatiur sum resequam erum que volut maxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu</p>

        <p><a href="#start">Back to top</a></p>
        <p><a href="file.jpg" download>Download this file</a></p>

        <p class="no-outline  pad-s-t  font-m"><a class="btn  btn--secondary" href="#start">Find out more</a></p>

        <p class="pad-s-t  font-m"><a class="btn  btn--secondary" href="file.zip" download>Download</a></p>
      </div>

      <div data-bk-layout="lap:5">
        <img src="/imgs/placeholders/square.jpg" alt="{{ img.title }}">
      </div>
    </div>
  </div>

{% endblock %}