{% extends "_layout.twig" %}

{% set title = "Typography" %}
{% set slug = "fonts" %}

{% set fontSizesFluid = {'Hero' : 'hero', 'Extra Large' : 'xxl', 'Larger' : 'xl', 'Large' : 'lg'} %}
{% set fontSizesFixed = {'Medium': 'md', 'Normal': 'nm', 'Small': 'sm', 'Smaller': 'xs'} %}
{% set fontSizesAll = fontSizesFluid|merge(fontSizesFixed) %}
{% set fontStyles = {'Uppercase' : 'upper', 'Italic' : 'italic', 'Alternative' : 'alt', 'Monospaced' : 'mono'} %}

{% block content %}

  <div class="w-100 bg-white pad-lg-b" id="intro">
    <section class="site-container">

      <h2 data-bk-layout class="font-xxl font-light color-primary pad-lg-t">{{ title }}</h2>

      <div data-bk-layout="sm:9 md:8 lg:7 lg:pl:5" class="font-md rte">
        <p>Basekit makes use of both fluid and fixed font sizes to ensure content is as responsive as possible to different browser and device sizes.</p>

        <p>Fluid fonts shrink or grow between two defined dimensions depending on the width of the viewport. Fixed fonts on the other hand remain the same size regardless of the viewport width.</p>
      </div>

      <h3 data-bk-layout="p:trl" class="font-xl font-light color-primary pad-t">Fluid Fonts</h3>

      <ol data-bk-layout="p:0 bottom" class="flex">
        {% for size, val in fontSizesFluid %}
          <li data-bk-layout="smd:6 md:4 lg:3" class="flex">
            <dl data-bk-layout="p:0 center" class="bdr-a bdr-grey--light bg-white flex flex--content-end">
              <dt data-bk-layout class="font-{{ val }} pad-t">Abz</dt>
              <dd data-bk-layout="p:sm" class="font-xs font-mono bdr-t bdr-grey--light">{{ size }}</dd>
            </dl>
          </li>
        {% endfor %}
      </ol>


      <h3 data-bk-layout="p:trl" class="font-xl font-light color-primary pad-t">Fixed Fonts</h3>

      <ol data-bk-layout="p:0 bottom" class="flex">
        {% for size, val in fontSizesFixed %}
          <li data-bk-layout="smd:6 md:4 lg:3" class="flex">
            <dl data-bk-layout="p:0 center" class="bdr-a bdr-grey--light bg-white flex flex--content-end">
              <dt data-bk-layout class="font-{{ val }} pad-t">Abz</dt>
              <dd data-bk-layout="p:sm" class="font-xs font-mono bdr-t bdr-grey--light">{{ size }}</dd>
            </dl>
          </li>
        {% endfor %}
      </ol>
    </section>
  </div>


  <div class="w-100 bg-white--tint pad-lg-b" id="intro">
    <section class="site-container">

      <h3 data-bk-layout class="font-xl font-light color-primary pad-lg-t pad-sm-b">Font Weights</h3>

      {% for fontWeight in ['normal', 'bold', 'light'] %}
        <div data-bk-layout="p:rl smd:6 md:4" class="pad-b">
          <ol class="bdr-a bdr-grey--light bg-white">
            <li data-bk-layout="p:0" class="font-s bdr-b bdr-grey--light">
              <div data-bk-layout class="font-xs font-mono">{{ fontWeight|capitalize }}</div>
            </li>

            {% for size, val in fontSizesAll %}
              <li>
                <div data-bk-layout="p:rbl" class="bb b-grey">
                  <p data-bk-layout="p:sm p:t" class="font-{{ fontWeight }} font-{{ val }}">Lorem</p>
                </div>
              </li>
            {% endfor %}

          </ol>
        </div>
      {% endfor %}



      <h3 data-bk-layout="p:trl" class="font-xl font-light color-primary pad-lg-t pad-sm-b">Line Heights</h3>

      <div data-bk-layout="p:rl lg:6" class="font-sm">
        <p>The following ensures that line height remains consistent and sensible at each font size.</p>
      </div>

      <ol data-bk-layout="p:0 bottom">
        {% for size, val in fontSizesAll %}
          <li data-bk-layout class="font-{{ val }} | margin-b">
            <h4 class="block font-xs font-mono">{{ size }}:</h4>
            <p>We’re an award winning design<br> and brand studio base in the<br> north east of Scotland.</p>
          </li>
        {% endfor %}
      </ol>



      <h3 data-bk-layout="p:trl" class="font-xl font-light color-primary pad-lg-t pad-sm-b">Font Styles</h3>

      <div data-bk-layout="p:rl lg:6" class="font-sm">
        <p>The following examples demonstrate and test optional font styles at each size</p>
      </div>

      <ul>
        {% for style, val in fontStyles %}
          <li data-bk-layout="md:6">
            <div data-bk-layout="p:0" class="bdr-a bdr-grey--light bg-white">
              <h4 data-bk-layout class="bdr-b bdr-grey--light font-xs font-mono">{{ style }}</h4>

              <ol data-bk-layout>
                {% for size, sizeVal in fontSizesAll %}
                  <li class="font-{{ sizeVal }} font-{{ val }} | margin-b">
                    Lorem
                  </li>
                {% endfor %}
              </ol>
            </div>
          </li>
        {% endfor %}
      </ul>



      <h3 data-bk-layout="p:trl" class="font-xl font-light color-primary pad-lg-t pad-sm-b">Rich Text</h3>

      <div data-bk-layout="p:rl lg:6 lg:pl:6" class="font-sm">
        <p>Rich text content is typically output by the CMS (Content Management System) and written by the site manager in an editor field. Here we make sure that this content is correctly styled without interference from other styles or errors.</p>
      </div>

      <div data-bk-layout="md:6" id="rich-text-content">
        <div data-bk-layout data-bk-links="primary underline" class="rte bg-white | bdr-a bdr-grey--light">
          {% include "fonts/_rte-content.twig" %}
        </div>
      </div>

      <div data-bk-layout="md:6" id="rich-text-content-dark">
        <div data-bk-layout data-bk-links="white dim underlin" class="rte bg-black--tint color-white--tint">
          {% include "fonts/_rte-content.twig" %}
        </div>
      </div>



    </section>
  </div>

{% endblock %}