{% extends "_layout.twig" %}

{% set title = "Colours" %}
{% set slug = "colours" %}

{% block content %}

  <div class="bg-grey--light">
    <section class="site-container  pad">

      <h2 data-bk-layout="pad:rbl" class="font-xl">{{ title }}</h2>

      <div data-bk-layout="lap:7" class="rte">
        <p class="font-m">Colour values are almost always based on brand guidelines or style guides provided by a designer or client.</p>

        <p>Primary and Secondary colour groups are often used for headings, links, button and background colours. Links and buttons may default to the primary colour with the secondary colour used on hover.</p>

        <p>Often a tertiary colour option won't be provided, in these cases it is advised to find a appropriatly fitting grey combination. Tertiary colours are useful for active link states, buttons, and background colours.</p>

        <p>Colours are set in <span class="alert alert--inline alert--simple br-2">/css/settings/_colors.scss</span></p>
      </div>

    </section>
  </div>


  <div class="bg-white">
    <section class="site-container  pad">

      <h3 data-bk-layout="pad:rbl  lap:8  lap:pl:4" class="font-xl">Brand Colours</h3>

      {% for colour in ['primary', 'secondary', 'tertiary'] %}
        <div data-bk-layout="palm:6 lap:3">
          <h4 class="font-l color-{{ colour }}">{{ colour|capitalize }}</h4>

          <ol class="font-s">
            <li data-bk-layout class="bg-{{ colour }} pad">
              <span style="visibility:hidden">default</span>
            </li>
            <li data-bk-layout="6" class="bg-{{ colour }}--dark color-white pad-t">
              --dark
            </li>
            <li data-bk-layout="6" class="bg-{{ colour }}--light color-black pad-t">
              --light
            </li>
          </ol>

<pre class="font-xs"><code data-bk-layout class="alert alert--simple br-0">// Sass
.thing {
  background-color: ${{ colour }};
}

&lt;!-- html --&gt;
&lt;div class=&quot;bg-{{ colour }}&quot;&gt;&hellip;&lt;/div&gt;
&lt;h3 class=&quot;color-{{ colour }}&quot;&gt;&hellip;&lt;/h3&gt;</code></pre>
        </div>
      {% endfor %}

      {% for colour in ['grey'] %}
        <div data-bk-layout="palm:6 lap:3">
          <h4 class="font-l color-{{ colour }}">{{ colour|capitalize }}</h4>

          <ol class="font-s">
            <li data-bk-layout class="bg-{{ colour }} pad">
              <span style="visibility:hidden">default</span>
            </li>
            <li data-bk-layout="6" class="bg-{{ colour }}--dark color-white pad-t">
              --dark
            </li>
            <li data-bk-layout="6" class="bg-{{ colour }}--light color-black pad-t">
              --light
            </li>
          </ol>

<pre class="font-xs"><code data-bk-layout class="alert alert--simple br-0">// Sass
.thing {
  background-color: ${{ colour }};
}

&lt;!-- html --&gt;
&lt;div class=&quot;bg-{{ colour }}&quot;&gt;&hellip;&lt;/div&gt;
&lt;h3 class=&quot;color-{{ colour }}&quot;&gt;&hellip;&lt;/h3&gt;</code></pre>
        </div>
      {% endfor %}
    </section>
  </div>



  <div class="bg-grey">
    <section class="site-container  pad">

      <h3 data-bk-layout="pad:rbl lap:8  lap:pl:4" class="font-xl">Standard Colours</h3>

      {% for colour in ['white', 'black'] %}
        <div data-bk-layout="palm:4">
          <h4 class="font-l color-{{ colour }}">{{ colour|capitalize }}</h4>

          <ol class="font-s">
            <li data-bk-layout class="bg-{{ colour }} pad pad-l-t">
              <span style="visibility:hidden">default</span>
            </li>
          </ol>

<pre class="font-xs"><code data-bk-layout class="alert alert--simple br-0">// Sass
.thing {
  background-color: ${{ colour }};
}

&lt;!-- html --&gt;
&lt;div class=&quot;bg-{{ colour }}&quot;&gt;&hellip;&lt;/div&gt;
&lt;h3 class=&quot;color-{{ colour }}&quot;&gt;&hellip;&lt;/h3&gt;</code></pre>
        </div>
      {% endfor %}
    </section>
  </div>


  <div class="bg-white">
    <section class="site-container  pad">

      <h3 data-bk-layout="pad:rbl  lap:8  lap:pl:4" class="font-xl">Alert Colours</h3>

      {% for colour in ['alert', 'error', 'neutral', 'positive'] %}
        <div data-bk-layout="palm:3">
          <h4 class="font-l color-{{ colour }}">{{ colour|capitalize }}</h4>

          <ol class="font-s">
            <li data-bk-layout class="bg-{{ colour }} pad">
              <span style="visibility:hidden">default</span>
            </li>
          </ol>

<pre class="font-xs"><code data-bk-layout class="alert alert--simple br-0">&lt;!-- html --&gt;
&lt;p class=&quot;{{ colour != 'alert' ? 'alert--' }}{{ colour }}&quot;&gt;&hellip;&lt;/p&gt;</code></pre>
        </div>
      {% endfor %}
    </section>
  </div>


{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}