{% extends "_layout.twig" %}

{% set title = "Colours" %}
{% set slug = "colours" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-grey--lighter  pad" id="intro">
    <section class="site-container">

      <h2 data-bk-layout="pad:trl" class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">Primary and Secondary colour groups are often used for headings, links, button and background colours. Links and buttons may default to the primary colour with the secondary colour used on hover.</p>

        <p>Often a tertiary colour option won't be provided. Tertiary colours are useful for active link states, buttons, and background colours.</p>

        <p>Colours are set in <span class="alert alert--inline alert--simple br-2">/css/settings/_colors.scss</span></p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 80 } %}

    </section>
  </div>


  <div class="bg-white  pad" id="brand-colours">
    <section class="site-container">

      <div data-bk-layout="lap:7  lap:pl:5" class="rte">
        <h3 class="font-xl">Brand Colours</h3>

        <p>Primary and Secondary values will be defined in by brand guidelines or style guides provided by the designer or client. The lighter and darker values are not always the same and should be tweaked in the Color settings Sass file. These tings should be set for a balance of aesthetic appeal and utility, a dark that is too light or a light that is too dark won't be of any use when building the website.</p>

        <p>The tertiary value is not always provided as part of the brand guidelines or style guide, in such a case talk to the designer responsible or find an appropriatly fitting grey.</p>
      </div>

      {% for colour in ['primary', 'secondary', 'tertiary'] %}
        <div data-bk-layout="palm:6 lap:4">
          {# <h4 class="font-l color-{{ colour }}">{{ colour|capitalize }}</h4> #}

          <ol class="font-xs">
            <li data-bk-layout class="bg-{{ colour }} pad-xl-b color-white font-m font-light">
              {{ colour|capitalize }}
            </li>
            <li data-bk-layout="3 lap:pad:small" class="bg-{{ colour }}--lighter color-black pad-l-t">
              lighter
            </li>
            <li data-bk-layout="3 lap:pad:small" class="bg-{{ colour }}--light color-black pad-l-t">
              light
            </li>
            <li data-bk-layout="3 lap:pad:small" class="bg-{{ colour }}--dark color-white pad-l-t">
              dark
            </li>
            <li data-bk-layout="3 lap:pad:small" class="bg-{{ colour }}--darker color-white pad-l-t">
              darker
            </li>
          </ol>

          <ul data-bk-layout="pad:t pad:small" class="color-{{ colour }}">
            <li class="font-xl">Lorem Ipsum</li>
            <li class="font-l">Lorem Ipsum</li>
            <li class="font-m">Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li class="font-s">Lorem Ipsum</li>
            <li class="font-xs">Lorem Ipsum</li>
          </ul>
        </div>
      {% endfor %}

    </section>
  </div>


  <div class="bg-grey color-black  pad" id="standard-values">
    <section class="site-container">

      <div data-bk-layout="lap:7  lap:pl:5" data-bk-links="primary fade underline" class="rte">
        <h3 class="font-xl">Standard Values</h3>

        <p>Black and white colour options are fixed utility classes that should never change. Do not set either the black or white Sass variable or class to anything other than absolute black or white, a tint is available as shown in the example.</p>
      </div>

      {% for colour in ['black', 'white'] %}
        <div data-bk-layout="palm:4">
          {# <h4 class="font-l color-{{ colour }}">{{ colour|capitalize }}</h4> #}

          <ol class="font-s color-{{ cycle(['white', 'black'], loop.index0) }}">
            <li data-bk-layout class="bg-{{ colour }} pad-xl-b font-m font-light">
              {{ colour|capitalize }}
            </li>
            <li data-bk-layout class="bg-{{ colour }}--tint pad-l-t">
              tint
            </li>
          </ol>

          <ul data-bk-layout="pad:t pad:small" class="color-{{ colour }}">
            <li class="font-xl">Lorem Ipsum</li>
            <li class="font-l">Lorem Ipsum</li>
            <li class="font-m">Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li class="font-s">Lorem Ipsum</li>
            <li class="font-xs">Lorem Ipsum</li>
          </ul>
        </div>
      {% endfor %}
    </section>
  </div>


  <div class="bg-white  pad" id="grey-tones">
    <section class="site-container">

      <div data-bk-layout="lap:7  lap:pl:5" class="rte">
        <h3 class="font-xl">Grey Tones</h3>

        <p>As with black and white, greys are set colour values that typically won't be changed. However, unlike black and white they <i>can</i> be changed if needed to suit the design. The tones below have been selected to best meet most sitatuons.</p>
      </div>

      {% for colour in ['grey'] %}
        <div data-bk-layout="palm:6 lap:4">
          {# <h4 class="font-l color-{{ colour }}">{{ colour|capitalize }}</h4> #}

          <ol class="font-xs">
            <li data-bk-layout class="bg-{{ colour }} pad-xl-b color-white font-m font-light">
              {{ colour|capitalize }}
            </li>
            <li data-bk-layout="6 lap:3 lap:pad:small" class="bg-{{ colour }}--lighter color-black pad-l-t">
              lighter
            </li>
            <li data-bk-layout="6 lap:3 lap:pad:small" class="bg-{{ colour }}--light color-black pad-l-t">
              light
            </li>
            <li data-bk-layout="6 lap:3 lap:pad:small" class="bg-{{ colour }}--dark color-white pad-l-t">
              dark
            </li>
            <li data-bk-layout="6 lap:3 lap:pad:small" class="bg-{{ colour }}--darker color-white pad-l-t">
              darker
            </li>
          </ol>

          <ul data-bk-layout="pad:t pad:small" class="color-{{ colour }}">
            <li class="font-xl">Lorem Ipsum</li>
            <li class="font-l">Lorem Ipsum</li>
            <li class="font-m">Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li class="font-s">Lorem Ipsum</li>
            <li class="font-xs">Lorem Ipsum</li>
          </ul>
        </div>
      {% endfor %}

    </section>
  </div>


  <div class="bg-white--tint  pad" id="text-colour">
    <section class="site-container">

      <h3 data-bk-layout="pad:trl" class="font-xl">Default Text Colour</h3>

      <div data-bk-layout="lap:7  lap:pl:1" data-bk-links="primary fade underline" class="rte">
        <p>For text colours the lightest you can go on a white background is <code>#666</code> for AA compliancy or <code>#555</code> for AAA compliancy. It is advisable to keep the base text colour well above AAA compliancy.</p>

        <p>On a black background, light text can go as dark as <code>999</code> for AAA compliancy and <code>666</code> for AA compliancy. Again it is advised to stick with AAA level compliancy.</p>

        <p>For body text on mid-range and different colours you must check with a contrast testing tool. For more information see the <a href="../accessibility">Accessibility page</a>.</p>
      </div>

      <div data-bk-layout="palm:4">
        <ol class="font-m font-light color-white">
          <li data-bk-layout class="bg-text pad-xl-b">
            Text
          </li>
        </ol>

        <ul data-bk-layout="pad:t pad:small" class="color-text">
          <li class="font-xl">Lorem Ipsum</li>
          <li class="font-l">Lorem Ipsum</li>
          <li class="font-m">Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li class="font-s">Lorem Ipsum</li>
          <li class="font-xs">Lorem Ipsum</li>
        </ul>
      </div>
    </section>
  </div>


  <div class="bg-white  pad" id="alert-colours">
    <section class="site-container">

      <div data-bk-layout="lap:8  lap:pl:4" data-bk-links="primary fade underline" class="rte">
        <h3 class="font-xl">Alert Colours</h3>

        <p>For more information see the <a href="../alerts/">alerts section</a>.</p>
      </div>

      {% for colour in ['alert', 'error', 'neutral', 'positive'] %}
        <div data-bk-layout="palm:3">
          {# <h4 class="font-l color-{{ colour }}">{{ colour|capitalize }}</h4> #}

          <ol class="font-m font-light">
            <li data-bk-layout class="bg-{{ colour }} pad-xl-b">
              {{ colour|capitalize }}
            </li>
          </ol>

        </div>
      {% endfor %}
    </section>
  </div>


{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}